.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: var(--spacing-md) var(--spacing-lg);
  height: auto;
}