.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  pointer-events: none;
  height: var(--header-height);
}

[data-theme='dark'] .header {
  mix-blend-mode: difference;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: var(--spacing-md) var(--spacing-2xl);
  height: auto;
  mix-blend-mode: difference;
}

@media (max-width: 1024px) {
  .inner {
    padding: var(--spacing-md) var(--spacing-lg);
  }
}