.callToActions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--spacing-sm);
}

.primary,
.secondary,
.tertiary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md) var(--spacing-xl);
  border-radius: 32px;
  font-family: var(--font-sans);
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  transition-property: border-radius, color;
  text-transform: uppercase;
  line-height: var(--line-height-equal);
  border: 2px solid var(--color-text);
}

.primary {
  background-color: var(--color-text);
  color: var(--color-bg);
  border: 1px solid var(--color-text);
}

.secondary {
  background-color: transparent;
  color: var(--color-text);
}

.tertiary {
  background-color: transparent;
  color: var(--color-text);
  border: none;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--color-text);
    opacity: .1;
  }
}

.link {
  text-transform: uppercase;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  line-height: normal;
  color: var(--color-text-muted);
  position: relative;
  overflow: hidden;
  padding-bottom: var(--spacing-xs);

  &::after, &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    transition: all 0.3s ease-in-out;
  }

  &::after {
    background-color: var(--color-text-muted);
    left: 0px;
    right: auto;
    opacity: .4;
  }

  &::before {
    left: -100%;
    right: auto;
    background-color: var(--color-accent);
  }

  &:hover {
    &::after {
      left: 100%;
      right: auto;
    }

    &::before {
      left: 0px;
      right: auto;
    }
  }
}

.primary:hover,
.secondary:hover,
.tertiary:hover {
  border-radius: 8px;
  color: var(--color-accent)
}

@media (max-width: 768px) {
  .primary,
  .secondary,
  .tertiary {
    flex: 1;
    padding: var(--spacing-md);
  }
}