.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: var(--spacing-2xl);
  padding: var(--spacing-2xl) var(--spacing-2xl);
  position: sticky!important;
  top: 0px;
  min-height: 100svh;
  height: 100svh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  margin-bottom: var(--spacing-2xl);

  &::before {
    content: '';
    background-size: 36px 36px;
    background-image: radial-gradient(circle, rgba(250,250,250,0.3) 1px, transparent 1px);
    width: calc(100vw * 1.1);
    height: calc(100vh * 1.1);
    position: absolute;
    left: -5vw;
    top: 0;
    pointer-events: none;
  }
}

html[data-theme="light"] {
    .hero::before {
        background-image: radial-gradient(circle, rgba(17,17,17,0.3) 1px, transparent 1px);
    }
}

.introText {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.intro {
  font-family: var(--font-serif);
  font-size: var(--font-size-lg);
  letter-spacing: -0.3px;
  color: var(--color-text);
}

.headline {
  font-family: var(--font-sans);
  font-size: clamp(2.75rem, 7vw, 7.125rem);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-equal);
  letter-spacing: -0.1px;
  color: var(--color-text);
  margin: 0;
  max-width: var(--bp-2xl);
}

.divider {
  border: none;
  height: 2px;
  background-color: var(--color-text);
  width: 100%;
  margin: 0;
}

.tagline {
  display: flex;
  align-items: center;
  gap: var(--spacing-2xl);
  flex-wrap: nowrap;
}

.skill {
  font-family: var(--font-sans);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  letter-spacing: 1px;
  color: var(--color-text);
  position: relative;
  display: flex;

  &::after {
    margin-left: var(--spacing-2xl);
  }

  &:not(:last-child)::after {
    content: "/";
  }
}

/* Table */
@media (max-width: 1024px) {
  .skill {
    &::after {
      margin-left: var(--spacing-xl);
    }
  }

  .tagline {
    gap: var(--spacing-xl);
  }
}

/* Mobile */
@media (max-width: 768px) {
  .hero {
    padding: var(--spacing-lg);
    gap: var(--spacing-xl);
  }

  .tagline {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-sm);
  }

  .skill {
    &:is(:last-child)::after, &::after {
      content: "/";
      order: -1;
      margin-left: 0;
      margin-right: var(--spacing-xl);
    }
  }
}