.collapse {
  transition: background-color var(--transition-fast);
  position: relative;

  &:hover {
    .title, .icon {
        color: var(--color-accent);
    }

    .icon {
        &::after, &::before {
            background-color: var(--color-accent);
        }
    }
  }

  &::before {
        content: '';
        position: absolute;
        z-index: 0;
        pointer-events: none;
        transition: all .25s ease-in-out;
        transform-origin: var(--origin-x, 50%) var(--origin-y, 50%);
        width: 100%;
        left: 0;
        bottom: 0;
        border-bottom: 2px solid var(--color-text);
        height: 1rem;
    }
}

.collapse[data-open='true'] {
    border-bottom: 0;
    padding-bottom: var(--spacing-lg);

    &::before {
        opacity: 1;
        height: 100%;
        width: calc(100% + 4rem);
        left: -2rem;
        background-color: var(--color-bg);
        border: 2px solid var(--color-text);
        border-radius: 1rem;
    }

    .trigger {
        padding-bottom: var(--spacing-md);
        border-color: transparent;
    }

    .title {
        color: var(--color-accent);
    }
}

.trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  gap: var(--spacing-md);
  padding: var(--spacing-xl) 0;
  z-index: 1;
  position: relative;
}

.title {
  font-family: var(--font-serif);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-regular);
  color: var(--color-text);
  letter-spacing: -0.1px;
  line-height: var(--line-height-tight);
  text-align: left;
}

.icon::before,
.icon::after {
  content: '';
  display: block;
  width: var(--spacing-md);
  height: 2px;
  background-color: var(--color-text);
}

.icon::before {
    transform: translateY(0px);
}

.icon::after {
  transform: rotate(90deg) translateX(-2px);
  transition: transform 0.2s ease;
}

.icon[data-open="true"]::after {
  transform: rotate(0deg) translateY(-2px);
}

.body {
  font-size: var(--font-size-md);
  line-height: 1.6;
  color: var(--color-text);
  z-index: 1;
  position: relative;
  letter-spacing: 0.2px;
}

@media(max-width: 768px) {
    .collapse {
        padding-inline: var(--spacing-sm);

        &[data-open="true"] {
            &::before {
                width: calc(100% + 2rem);
                left: -1rem;
            }
        }
    }
}