.footer {
    position: relative;
    padding: 5rem var(--spacing-2xl) var(--spacing-3xl);
    background-color: var(--color-bg);
    display: flex;
    justify-content: center;

    ul, lu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    h3 {
        font-size: var(--font-size-sm);
        color: var(--color-text-muted);
        margin-bottom: .75rem;
        font-family: var(--font-serif);
    }

    .top {
        display: flex;
        gap: 10rem;
        width: 100%;

        aside {
            display: flex;
            flex-direction: column;
        }
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: var(--spacing-lg);
        width: 100%;
        flex-direction: column;
    }
}

.wrapper {
    max-width: var(--bp-2xl);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2xl);

    &::after {
        content: '';
        position: absolute;
        width: 440px;
        height: calc(100% + 6rem);
        right: -1.5rem;
        top: -3rem;
        background-image: radial-gradient(circle, var(--color-text) 1px, transparent 1px);
        background-size: 32px 32px;
        opacity: 0.4;
        pointer-events: none;
    }
}

.linksFooter {
    display: flex;
    align-items: center;
    gap: var(--spacing-lg);
    font-size: var(--font-size-md);
    color: var(--color-text);
    white-space: nowrap;

    svg {
        height: var(--spacing-lg);
        width: auto;

        path {
            fill: var(--color-text);
            transition: fill 0.3s ease;
        }

        &:hover {
            path {
                fill: var(--color-accent);
            }
        }
    }

    a {
        transition: color 0.3s ease;
        position: relative;

        &:before, &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: var(--color-accent);
            left: 0;
            bottom: -2px;
            transform: scaleX(0);
            transition: transform 0.3s ease-in-out;
            transform-origin: right;
        }

        &:hover {
            color: var(--color-accent);

            &:before {
                transform: scaleX(1);
                transform-origin: left;
            }
        }
    }

    .socialLink {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.copyright {
    color: var(--color-text-muted);
    font-size: var(--font-size-xs);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    line-height: 1;
    font-family: monospace;

    &:hover {
        span {
            &::before {
                content: '<';
                margin-right: 2px;
            }

            &::after {
                content: ' />';
            }
        }
    }
}

.backToTop {
    transition: all 0.3s ease-in-out;
    position: relative;
    width: var(--spacing-md);
    height: var(--spacing-md);

    &::before {
        content: 'Back to top';
        position: absolute;
        top: 50%;
        right: -100%;
        display: flex;
        white-space: nowrap;
        line-height: 1;
        font-size: var(--font-size-sm);
        transform: translateY(-7px);
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    &:hover::before {
        right: var(--spacing-lg);
        opacity: 1;
    }

    svg {
        rect {
            transition: all 0.3s ease-in-out;
        }
    }

    &:hover {
        svg {
            rect {
                fill: var(--color-text);
            }

            path {
                fill: var(--color-bg);
            }
        }
    }
}

html[data-theme='light'] {
    .backToTop {
        svg {
            rect {
                stroke: var(--color-text);
            }

            path {
                fill: var(--color-text);
            }
        }

        &:hover {
            svg {
                rect {
                    fill: var(--color-text);
                }

                path {
                    fill: var(--color-bg);
                }
            }
        }
    }
}

@media(max-width: 920px) {
    .footer {
        padding: 3rem var(--spacing-lg);

        .top {
            flex-direction: column;
            gap: var(--spacing-xl);
        }
    }

    .wrapper::after {
        width: 240px;
        height: 90%;
    }

    .linksFooter {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-sm);
    }

    .socialLinks {
        flex-direction: row;
    }

    .bottom {
        align-items: flex-start;
    }

    .socialLink {
        svg {
            height: var(--spacing-xl);
            width: auto;
        }
    }

    .copyright {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--spacing-lg);
    }

    .backToTop {
        &::before {
            right: auto;
            left: var(--spacing-xl);
        }
    }
}

.socialLinks {
    display: flex;
    gap: var(--spacing-lg);

    .socialLink {
        &::after, &::before {
            display: none!important;
        }
    }
}

@media(max-width: 1280px) {
    .footer {
        .top {
            gap: var(--spacing-3xl);
        }
    }
}