.logo {
    display: flex;

    svg {
        path {
            fill: var(--color-black);
        }

        max-height: 4rem;
        width: auto;
    }
}

html[data-theme="dark"] {
    .logo {
        svg {
            path {
                fill: var(--color-white);
            }
        }
    }
}