.logo {
    display: flex;
    pointer-events: all;

    svg {
        path {
            fill: var(--color-black);
            transition: all 0.25s ease-in-out;
        }

        max-height: 4rem;
        width: auto;
    }

    &:hover {
        svg {
            path {
                fill: var(--color-accent);
            }
        }
    }
}

html[data-theme="dark"] {
    .logo {
        svg {
            path {
                fill: var(--color-white);
            }
        }
    }
}