.nav {
    display: flex;
}

.list {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  font-size: var(--font-size-sm);
  text-decoration: none;
  color: var(--color-text);
}

.link:hover {
  color: var(--color-accent);
}